*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    width: 100vw;
    /* overflow: hidden; */
}
.app{
    display: flex;
}
textarea{
    width: 50%;
    height: inherit;
    padding: 10px;
    outline: none;
    border: none;
    background-color: lightgray;
}
.preview{
    width: 50%;
    height: inherit;
    background-color: gray;
    padding: 10px;
}
h1{
    font-weight: 400;
}